<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}"> <!--<![endif]-->

    <!-- HEAD -->
     {% include head.html %} 

    <body class="">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- HEADER -->
        <!-- {% include header.html %} -->


        <!-- CONTENT -->
        {{ content }}
        
        <!-- FOOTER -->
        <!-- {% include footer.html %} -->

    </body>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
</html>